<div class="container span11">
	<h1>Contact us</h1><hr>
</div>

<div class="container contact span11">
    <div class="row">     
		<div class="span3">
		    <h4 >Address</h4>
			16251 Lithium CT NW</br>
			Ramsey, MN 55303
		</div>
		
		<div class="span3">
		    <h4>Telephone</h4>
			612 876 8040</br>
			Lkaba2003@gmail.com
			</br>
		</div>
    </div><!--/row-->
</div> <!-- /container -->



<div class="container">
	<%= render :partial => "/contacts/form" %>
</div>



