
<div class="container">
    <div class="row">
		<div class="span12 wel">
		   <div class="mission">
				<center>
			    	<h1>Masjid Al-Ansar</h1>
			    	<h3>Islamic Community Center</h3>
			    </center>
					
				<p class="p">
					Bismillah Rahmani Rahim (in the name of allah the entirely merciful the especially merciful).<br/>
					The primary mission of Masjid Al-Ansar is to provide a place of worship and establish the practice of Islam in the lives of its community.<br/>
					Second, is to build valuable relationships in between all human kind as well as to reach out and present Islam through educational and cultural activities, which are consistent with the teachings and principles of Islam.
				</p>
		   </div> <!--end jumbotron-->
		</div>
    </div><br/>			
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
		<input type="hidden" name="cmd" value="_donations">
		<input type="hidden" name="business" value="DS82WRDKQ7ZP2">
		<input type="hidden" name="lc" value="US">
		<input type="hidden" name="item_name" value="Support the Cause of Allah">
		<input type="hidden" name="item_number" value="Musjid Al-Ansar">
		<input type="hidden" name="currency_code" value="USD">
		<input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	</form>
				
</div><br/>


