<div class="container">
    <div class="row">
		<div class="span12 well">
		   <div class="jumbotron">
				<h1>Title here</h1>
				<h3>Subtitle here</h3>
				<p>
					Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text here.
				</p>
				<p>
					Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text here
				</p>
				<p>
					ome text here ome text hereome text hereome text here
				</p>
				<p>
					Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text here.
				</p>
				<p>
					Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text here
				</p>
				<p>
					ome text here ome text hereome text hereome text here
				</p>
				<p>
					Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text here.
				</p>
				<p>
					Some text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text hereSome text here
				</p>
				<p>
					ome text here ome text hereome text hereome text here
				</p>
		   </div> <!--end jumbotron-->
		</div>
    </div>
</div><br/>